@mixin alignedContainer($justifyItems){
    display:flex;
    justify-content: $justifyItems;
    overflow-x:auto;
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
@mixin centeredContainer(){
    position:relative;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
@mixin imgContainer($elementWidth,$elementHeight){
    flex: 0 0 100%;
    max-width:$elementWidth;
    max-height:$elementHeight;
    min-width:$elementWidth;
    min-height:$elementHeight;
    background-color: black;
    position:relative;
    margin:0px;
    padding:0px;
    >img{
        max-width: 100%;
        max-height: 100%;   
        object-fit: cover;
        position: absolute;
        margin:auto;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
}
@mixin flex-center{
	align-content:center;
	align-items:center;
	justify-content: center;
	justify-items: center;
}
@mixin sticky($direction){
    position:fixed;
    @if $direction==top{
        top:0px;
    }
    @if $direction==bottom{
        bottom:0px;
    }
    @if $direction==left{
        left:0px;
    }
    @if $direction==right{
        right:0px;
    }
}
@mixin tag-container(){
    display:flex;
	flex-direction:row;
	height:100%;
	>.tag{
		@include flex-center();
		display:flex;
		border-radius:5px;
		background-color:rgb(42, 42, 42);
		color:white;
		min-width:25px;
		height:100%;
		padding:3px;
	}
}
@mixin clickbox{
    z-index:9999;
    position:absolute;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background-color: rgba(2, 2, 2, 0.216);
    >.clickbox-form{
       @include centeredContainer;
       z-index:10000; 
       pointer-events:none;
       width:100%;
       @media screen and (min-width: 600px){
        width:350px;   
       }
       >*{
        pointer-events:auto;
       }
    }
}