@mixin alignedContainer($justifyItems){
    display:flex;
    justify-content: $justifyItems;
    overflow-x:auto;
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
@mixin centeredContainer(){
    position:relative;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
@mixin sticky($direction){
    position:fixed;
    @if $direction==top{
        top:0px;
    }
    @if $direction==bottom{
        bottom:0px;
    }
    @if $direction==left{
        left:0px;
    }
    @if $direction==right{
        right:0px;
    }
}
@mixin tag-container(){
    display:flex;
    align-items:center;
	flex-direction:row;
    flex-wrap: wrap;
	height:100%;
    overflow:hidden;
	>.tag,>.tag-extra{
        word-break: break-word;
		border-radius:0px;
		background-color:rgb(42, 42, 42);
		color:white;
		height:100%;
		padding:10px;
	}
}
@mixin clickbox{
    z-index:9999;
    position:absolute;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background-color: rgba(2, 2, 2, 0.216);
    >.clickbox-form{
       @include centeredContainer;
       z-index:10000; 
       pointer-events:none;
       width:100%;
       @media screen and (min-width: 600px){
        width:350px;   
       }
       >*{
        pointer-events:auto;
       }
    }
}