@import 'src/app/mixins.scss';
.clickbox{
	@include clickbox;
	>.clickbox-form{
		z-index:1;
		>.form-placeholder{
			position:absolute;
			background:transparent;
			left:0;
			top:0;
			z-index:-1;
			height:100%;
			width:100%;
		}
	}
}
.form-tag-container{
	@include tag-container();
	max-width:100%;
	max-height:200px !important;
	overflow:auto;
}
.inputError{
	border-color:red;
}
