@import 'src/app/mixins.scss';
$table-space: 4px;
//elements
table{
	table-layout: auto;
}
.clickbox{
	@include clickbox;
}
.todo-entry{
	cursor:pointer;
}

//containers
.tag-cell{
	display: table-cell; 
	vertical-align: middle;
}
.button-cell{
	display: table-cell; 
	vertical-align: middle;
	>.button-cell-container{
		text-align: center;
	}
}
.date-cell{
	display: table-cell; 
	vertical-align: middle;
	text-align:center !important;
	>.cell-flex-container{
		display: inline-block;
	}
}
.table-container{
	height:100%;
	display:flex;
	align-items:center;
	flex-wrap:wrap;
}
.table-row-container{
	height:100%;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-around;
	flex-wrap:wrap;

}
.button-container{
	@include button-container()
}
.name-container{
	max-width:300px;
	@media screen and (min-width:map-get($grid-breakpoints, md)) and (max-width:map-get($grid-breakpoints, lg)){
		max-width:150px;
	}
	@media screen and (max-width:map-get($grid-breakpoints, md)){
		max-width:80px;
	}
	>.table-container{
		width:100%;
		white-space: nowrap !important; 
		text-overflow: ellipsis !important;
		overflow: hidden !important;	
	}
}
.date-container{
	display:flex;
	align-items: center;
	flex-direction:row;
	width:180px;
	border-radius:15px;
	word-break:keep-all;
	outline:1px solid;
	overflow:hidden;
	margin:5px;
	margin-top:2px;
	margin-bottom:2px;
	>.date-label{
		display:flex;
		padding:4px;
		align-items: center;
		justify-content:center;
		color:white;
		background-color:#343a40;
		height:200%;
		width:40%;
	};
	>.date-info{
		display:flex;
		align-items: center;
		justify-content:center;
		word-break:keep-all;
		width:60%;
		height:100%;	
	};
}

//table elements
th[sortable] {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}

th[sortable].desc:before,
th[sortable].asc:before {
	content: '';
	display: block;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC')
		no-repeat;
	background-size: 22px;
	width: 22px;
	height: 22px;
	float: left;
}

th[sortable].desc:before {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
td{
	padding:4px;
	padding-left:$table-space;
	padding-right:$table-space;
	height:50px;	
}
th{
	padding-left:$table-space;
	padding-right:$table-space;
}