<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col" sortable="name" direction='' (sort)="onSort($event)">Name</th>
			<th scope="col" sortable="created" direction='' (sort)="onSort($event)">Created</th>
			<th scope="col" sortable="updated" direction='' (sort)="onSort($event)">Updated</th>
			<th scope="col">Tags</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let todo of todoListData">
			<td scope="row">
				<span class="table-container">
					{{ todo.name }}
				</span>
			</td>
			<td>
				<span class="table-container">
					{{ todo.createdDate | date: 'dd MMM, yyyy'}}
				</span>
			</td>
			<td>
				<span class="table-container">
					{{ todo.updatedDate | date: 'dd MMM, yyyy'}}
				</span>
			</td>
			<td>
				<span class="tag-container">
					<span *ngFor="let tag of todo.tags | slice:0:4" [class]="'tag'">
						{{tag}}
					</span>
				</span>
			</td>
		</tr>
	</tbody>
</table>